html {
    font-family: "Poppins", system-ui;
  }

h1 {
    font-family: "Noto Serif", system-ui;
}

h2, h3, h4, h5, h6 {
    font-family: "Raleway", system-ui;  
}

.poppins {
    font-family: "Poppins", system-ui;
}

.raleway {
    font-family: "Raleway", system-ui;
}
  
.noto-serif {
    font-family: "Noto Serif", system-ui;
}

body {
    width: 80%;
    margin: 0 auto;
}

  #colours {  /* Target the colours section */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .swatch {
    background-color: red;
    width: 200px;
    height: 200px;
    color: white;
    font-size: 1.5em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .swatch p {
    width: 100%;
    text-align: center;
  }
  
  .blue {
    background-color: #A8C7FA;
  }
  
  .red {
    background-color: #D65C67;
  }
  
  .purple {
    background-color: #C58AF9;
  }
  
  .orange {
    background-color: #FA903E;
  }
  
  #fonts ul li {
    font-size: 1.5em;
  }

  #styles ul li {
    list-style-type: none;
  }